<br>
<br>
<br>

<div class="one_half">
  <div class="about_image">
    <%= image_tag('CSSpeter.gif', {:height => 350}) %>
  </div>
</div>
<div class="one_half">
  <div class="quote_about">

    <h2>Jenny Allar</h2>
    <h3>Current gSchool Student</h3>


    <p>As a fairly new Ruby on Rails developer, Jenny enjoys piecing together small parts of a system and they joy of 
      seeing the larger picture. She is currently looking to join an organization that values well-written code and
      values strong communication skills.
    </p>
    <p>Jenny lives, learns, and bikes in Boulder, CO with her wife and three fur kids.</p>
  </div>
</div>
<div class="resetColumnSet"></div>