<br>
<br>
<br>

<div class="one_half">
  <div class="about_image">
    <%= image_tag('jennymountain.gif', {:width => 350}) %>
  </div>
</div>
<div class="one_half">
  <div class="quote_about">

    <h2>Jenny Allar</h2>
    <h3>Current gSchool Student</h3>


    <p>As a fairly new Ruby on Rails developer, Jenny enjoys piecing together small parts of a system and the joy of 
      seeing the larger picture. She is currently looking to join an organization that values well-written code and
      values strong communication skills.
    </p>
    <p>Jenny lives, learns, and bikes in Boulder, CO with her wife Lauren and their three fur kids.</p>
    <br><br><br>
    <p>
    </p>
  </div>
</div>
  <div class="twitter_column">
  <a class="twitter-timeline" href="https://twitter.com/JennyAllar" data-widget-id="473854604954710016">Tweets by @JennyAllar</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
<div class="resetColumnSet">
</div>