<br>
<br>
<br>

<div class="one_half"><br>
  <div class="about_image">
    <%= image_tag('jennymountain.gif', {:width => 450}) %>
  </div>
</div>
<div class="one_half">
  <div class="quote_about">

    <h2>Jenny Allar</h2>
    <h3>Current gSchool Student</h3>


    <p>As a fairly new Ruby on Rails developer, Jenny enjoys piecing together small parts of a system and the joy of 
      seeing the larger picture. She is currently looking to join an organization that values well-written code and
      values strong communication skills.
    </p>
    <p>Jenny lives, learns, and bikes in Boulder, CO with her wife Lauren and their three fur kids.</p>
      <br>
    <div class="contact_heading">
    Email:</div><div class="contact">JennyAllar@gmail.com</div>
    <div class="contact_heading">Twitter: </div><div class="contact">@JennyAllar</div>
    <div class="contact_heading">Staging:  </div><div class="contact">seriously.itsgifnotjif.com</div></p>
  </div>
  </div>
<div class="resetColumnSet"></div>