<h1>Gifs you've favorited:</h1>
<div id="columns">


  <% @favorites.each do |gif| %>
    <figure>
      <%= link_to (image_tag Gif.find(gif[:gif_id]).url), gif_path(gif) %>
      <figcaption><%= Gif.find(gif[:gif_id]).name %></figcaption>
      <div class="heart_icon">
        <%= link_to image_tag("heart broken.png"), favorite_gif_path(Gif.find(gif[:gif_id]), type: "unfavorite"), method: :put %>
      </div>

    </figure>
  <% end %>

</div>


