<div class="one_half">
  <div class="about_image">
    <%= image_tag('http://i.imgur.com/rDOKgun.gif') %>
  </div>
</div>
<div class="one_half">
  <div class="quote">

    <h2>Father Gif is Wrong</h2>

    <p>"Along with whether or not Al Gore invented the Internet, figuring out the correct pronunciation of GIF is
      one
      of the earliest questions of the Internet. I grew up believing it was hard-G GIF. Most people I know
      pronounce
      it like that too. Even the White House agreed on pronouncing GIF like 'gift'. But we have to re-evaluate the
      whole argument again because the inventor of GIF—PAPA GIF Steve Wilhite—says its pronounced JIF. What. The.
      Hell."<br>

    <h3>Casey Chan</h3>
    <b>"The Creator of the GIF Says It's Pronounced JIF. He Is Wrong"</b><br>
    <i><a href="gizmodo.com" target="_blank">Gizmodo.com</a></i>
    </p>
  </div>
</div>
<p>
<div class="one_half">
  <div class="quote_reverse">

    <h2>Hard or Soft?</h2>

    Jif, like GIF, is an artificial word. So if you invent a word, do you own it? Well, no. As one commenter
    pointed out: "People will use Wilhite's pronunciation pronouncement as faithfully as they followed Alexander
    Graham Bell's command to answer the phone with 'Ahoy'."

    So if the majority of people mispronounce a word, does their pronunciation then count as correct? It does as
    far as dictionaries are concerned. They have the last word (if you'll pardon the pun), and they accept both
    pronunciations, while preferring the most popular one.<br>

    <h3>Mike Pilewski</h3>
    <b>"You Say Graphics, He Says Giraffics"</b><br>
    <i><a href="spotlight-online.de" target="_blank">spotlight-online.de</a></i>
  </div>
</div>
<div class="one_half">
  <div id="about_image_right">
    <div class="about_image">
      <%= image_tag('http://imgur.com/nEShPtH.gif', size: "460x320") %>
    </div>
  </div>
</div>