<h1>Add a picture</h1>
<% if @gif.errors.present? %>
  <ul>
    <% @gif.errors.messages.each do |message| %>
      <li class="error_message"><%= message[1][0] %></li>
    <% end %>
  </ul>
<% end %>

<div class="splash-container">
  <div class="splash">
    <img src="http://i.imgur.com/hbq70S0.png"/></a>
    <p class="splash-subhead">
      Seriously, stop calling it jif.<br>
    </p>

    <form class="pure-form">
      <fieldset class="pure-group">
        <input type="text" class="pure-input-1-2" placeholder="Url">
        <input type="text" class="pure-input-1-2" placeholder="Name this Gif">
      </fieldset>

      <fieldset class="pure-group">
        <input type="text" class="pure-input-1-2" placeholder="Keyword 1 (ex: sassy)">
        <input type="text" class="pure-input-1-2" placeholder="Keyword 2 (ex: facepalm)">
        <input type="text" class="pure-input-1-2" placeholder="Keyword 3 (ex: STFU)">
      </fieldset>

      <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Add Gif</button>
    </form>

  </div>
</div>




