<div id="columns">

  <figure>
    <%= link_to (image_tag @gif.url), gif_path(@gif) %>
    <figcaption><%= @gif.name %></figcaption>
    <div class="heart_icon">
      <%= link_to image_tag("heart.png"), favorite_gif_path(@gif, type: "favorite"), method: :put %>
      <div class="text_icon">
        <%= link_to image_tag("texticon.png"),  "/#{gif.id}/text", method: :post %>
      </div>
    </div>
  </figure>
</div>