/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }

*/

/* ----- =structure ----- */

body {
  background-color: #ECD078;

}

img {
  padding: 0px;
  margin: 0px;
}

#header_container {
  margin-right: 5%;
  width: 1250px;
}

#content_container,
#footer_container {
  margin: auto;
  width: 1250px;
}

#nav_container {
  margin: auto;
  width: 1290px;
  float: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

header {
  background-color: #542437;
}

header img {
  height: 200px;
  padding: 20px 0 20px 0;
  margin-left: 40%;
}

nav {
  background-color: #D95B43;
  overflow: hidden;
}

#content {
  background-color: #ECD078;
}

footer {
  background-color: #53777A;
}

/* ----- =columns ----- */

#columns {
  column-width: 300px;
  column-gap: 15px;
  width: 90%;
  max-width: 1250px;
  margin: 50px auto;
}

#columns_2 {
  column-width: 300px;
  column-gap: 15px;
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

#columns_3 {
  column-width: 300px;
  column-gap: 15px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

#center_columns {
  text-align: center
}




div#columns figure {
  max-width: 240px;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  column-break-inside: avoid;
  display: inline-block;
}

div#columns figure img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure .text_icon img {
  width: 100%;
  height: auto;
  border-bottom: none;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure .heart_icon img {
  width: 100%;
  height: auto;
  border-bottom: none;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#gif_name {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}

div#columns_3 figure {
  max-width: 400px;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  column-break-inside: avoid;
  display: inline-block;
}

div#columns_3 figure img {
  width: 100%;
  height: auto;
}

div#columns figure text {
  max-width: 200px;
}

div#columns:hover figure:not(:hover) {
  opacity: 0.4;
}

#icon_text {
  font-family: 'Open Sans Condensed', sans-serif;
  float: left;
  padding-right: 10px;
  padding-top: 13px;
}

.one_half {
  width: 550px;
}

.one_third {
  width: 300px;
}

.two_third {
  width: 620px;
}

.one_fourth {
  width: 220px;
}

.three_fourth {
  width: 700px;
}

.full_column {
  width: 940px;
}

.twitter_column {
  width: 1200px;
  margin-top: 44%;
  margin-left: 31%;
}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .full_column {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
}

.resetColumnSet {
  clear: both;
}

/* ----- =menu (Primary Nav) ----- */

#menu {
  float: left; /* or float: left */
  margin: 0 30px 0 8%;
}

#menu li {
  float: left;
  list-style: none;
}

#menu li a {
  font-size: 100%;
  color: #fff;
  padding: 17px 25px 15px 25px;
  display: block;
  text-decoration: none;
}

#menu li a:hover {
  color: #fff;
  background-color: #53777A;
}

#search_bar {
  height: 20px;
  position: relative;
  bottom: 10px;
  float: right;
  color: #D95B43;
}

#search_bar ul image {
  padding-bottom: 30px;
}

#search_bar li {
  float: right;
  list-style: none;
}

#menu_footer {
  float: left;
  padding-left: 5%;
}

#menu_footer li {
  float: left;
  list-style: none;
  font-family: 'Amatic SC', cursive;
  font-size: 38px;
  text-align: top;
}

#menu_footer li a {
  font-size: 100%;
  color: #fff;
  display: block;
  text-decoration: none;

}

#menu_footer li a:hover {
  color: #fff;
  background-color: #53777A;
}

/*Borders between each button */
#menu li + li {
  border-left: 1px solid #000;
}

.submit_button {
  color: white;
  background-color: #FF8000;
  font-family: 'Roboto Slab', serif;
  font-size: 100%;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: .4em 1em 1em 2em;
}

.submit_button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}

.submit_button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

button, .button, input[type=submit] {
  float: right;
  margin-right: 10px;
  border: 0;
  background: #5786c1;
  font-family: 'Amatic SC' cursive;
  color: white;
  padding: 8px 14px;
  font-size: 24px;
  text-decoration: none;
  display: inline-block; /* needed for anchors */
  position: relative;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
  &:hover, &:focus,
  &.hover, &.focus {
    transform: translate(2px, 2px);
    box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae;
  }
  &:active,
  &.active {
    transform: translate(4px, 4px);
    box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
  }
}

.button-2 {
  margin-right: 85px;
}

.form_input {
  font-family: 'Open Sans Condensed' sans-serif;
  border: 0px
}

h2 {
  font-family: 'Oswald' sans-serif;
  font-weight: 400;
  font-size: 30px
}

h3 {
  font-family: 'Amatic SC' cursive;
  font-weight: 400;
  font-size: 30px
}

.about_image {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px 8%;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  column-break-inside: avoid;
  display: inline-block;
}

.quote {
  width: 500px;
  float: right;
  text-align: right;
  font-family: 'Open Sans Condensed' sans-serif;
  font-size: 20px;
  padding-right: 5%;
}
.quote_about {
  width: 490px;
  float: right;
  text-align: right;
  font-family: 'Open Sans Condensed' sans-serif;
  font-size: 20px;
  padding-right: 5%;
}

.quote_about h3{
  margin-top: -5%;
}

.quote_reverse {
  width: 500px;
  text-align: left;
  font-family: 'Open Sans Condensed' sans-serif;
  font-size: 20px;
  margin-left: 8%;
}

.about_image_reverse {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
  margin-top: 8%;
  margin-left: 8%;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  column-break-inside: avoid;
  display: inline-block;
}

.one_half a {
  color: #53777A;
  text-decoration: none;
}

.heart_icon {
  height: 30px;
  width: 20px;
  float: left;
  padding-right: 2%;
  padding-top: 5%;

}

.figure_column_large {
  width: 100%;
}

.figure_column_small {
  width: 8%
}

#show_title {
  padding-top: 5%;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#show_keyword_title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

#show_keywords {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding-left: 22%;
}

.texting {
  font-family: 'Open Sans Condensed' sans-serif;
  float: right;
  padding-top: 10px;
}

#texting_icon {
  float: right;
  margin-top: 8px;
  padding-left: 5px;
}

.gifs_title {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  font-weight: bold;
}

.reg_form {
  text-align: right;
  padding-right: 25%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10%;
}

.reg_form input{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
}

.reg_form h1{
  padding-right: 8%;
}

.reg_form h2{
  padding-right: 2%;
}

.terms_of_service {
  width: 733px;
}
///*Borders on both sides */
//#menu li:first-child a {
//  border-left: 1px solid #000;
//}
//#menu li:last-child a {
//  border-right: 1px solid #000;
//}
//









