<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/base-min.css">

<!DOCTYPE html>
<html>
<head>
  <title>It's Gif, Not Jif</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="header">
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href=""></a></a>

    <ul>
      <li class="pure-menu-selected"><a href="#">Home</a></li>
      <li><a href="#">Tour</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <img src="http://i.imgur.com/hbq70S0.png"/></a>
    <p class="splash-subhead">
      Seriously, stop calling it jif.<br>
    </p>
    <p>
      <a href="/gifs/new" class="pure-button pure-button-primary">Add a Gif</a>
    </p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Father Gif is Wrong</h2>

    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">

        <h3 class="content-subhead">
        </h3>

        <p>

        <div id="quote">
          <p>"Along with whether or not Al Gore invented the Internet, figuring out the correct pronunciation of GIF is
            one
            of the earliest questions of the Internet. I grew up believing it was hard-G GIF. Most people I know
            pronounce
            it like that too. Even the White House agreed on pronouncing GIF like 'gift'. But we have to re-evaluate the
            whole argument again because the inventor of GIF—PAPA GIF Steve Wilhite—says its pronounced JIF. What. The.
            Hell."<br><br>
            <b>Casey Chan</b><br>
            "The Creator of the GIF Says It's Pronounced JIF. He Is Wrong"<br>
            <i>gizmodo.com</i><br>
          </p>
      </div>
      <!--<div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">-->
        <!--<h3 class="content-subhead">-->
          <!--<i class="fa fa-mobile"></i>-->
          <!--Responsive Layouts-->
        <!--</h3>-->
        <!--<p>-->
          <!--Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">-->
        <!--<h3 class="content-subhead">-->
          <!--<i class="fa fa-th-large"></i>-->
          <!--Modular-->
        <!--</h3>-->
        <!--<p>-->
          <!--Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">-->
        <!--<h3 class="content-subhead">-->
          <!--<i class="fa fa-check-square-o"></i>-->
          <!--Plays Nice-->
        <!--</h3>-->
        <!--<p>-->
          <!--Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.-->
        <!--</p>-->
      <!--</div>-->
    </div>
  </div>

  <div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-med-1-2 pure-u-lrg-2-5">
      <img src="http://i.imgur.com/rDOKgun.gif">
    </div>
    <div class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5">

      <h2 class="content-head content-head-ribbon">Hard or Soft?</h2>
      <p id="yui_3_14_1_1_1399005994724_13">


        Jif, like GIF, is an artificial word. So if you invent a word, do you own it? Well, no. As one commenter
        pointed out: "People will use Wilhite's pronunciation pronouncement as faithfully as they followed Alexander
        Graham Bell's command to answer the phone with 'Ahoy'."

        So if the majority of people mispronounce a word, does their pronunciation then count as correct? It does as
        far as dictionaries are concerned. They have the last word (if you'll pardon the pun), and they accept both
        pronunciations, while preferring the most popular one.<br>
        <b>Mike Pilewski</b><br>
        "You Say Graphics, He Says Giraffics"<br>
        <i>spotlight-online.de</i>
      </p>
    </div>
  </div>

  <div class="content">
    <h2 class="content-head is-center">Search the wonderful world of gifs, not jifs.</h2>

    <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-med-2-5">
        <form class="pure-form pure-form-stacked">
          <fieldset>

            <label for="email"></label>
            <input id="email" type="text" placeholder="Ex: face palm">

            <button type="submit" class="pure-button">Search Gifs</button>
          </fieldset>
        </form>
      </div>

      <div class="l-box-lrg pure-u-1 pure-u-med-3-5">
        <h4>About Me</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>

        <h4>More Information</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

  </div>

  <div class="footer l-box is-center">
    <a href="https://twitter.com/JennyAllar" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @JennyAllar</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
<script>
  YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
      e.preventDefault();
    }, 'a[href="#"]');
  });
</script>

</html>


<!--<body class="half_half">-->
<!--<div class="page-wrapper">-->


  <!--<header>-->
    <!--<div id="wrapperHeader">-->
      <!--<div id="header">-->
        <!--<img src="http://i.imgur.com/hbq70S0.png" alt="logo"/>-->
      <!--</div>-->
    <!--</div>-->
  <!--</header>-->

  <!--<div class="nav_buttons">-->
    <!--<a href="'/welcome/new'"><img src="http://i.imgur.com/ovosET7.png"></a>-->
  <!--</div>-->

<!--<div id="background_image>">-->
  <!--<article style="overflow: hidden; height: 435px; background-size: cover;" class="">-->
    <!--<img class="feat-hero" src="http://i.imgur.com/HE338.gif">-->
  <!--</article>-->
<!--</div>-->




  <!--<footer>-->
    <!--<a href="http://twitter.com/jennyallar" title="Jenny Allar's Twitter" class="zen-validate-html">find me on-->
      <!--twitter</a>-->
    <!--<a href="http://jennydevelops.it" title="Jenny Allar's Blog" class="zen-validate-css">check out my blog here</a>-->
    <!--<a href="https://github.com/jennyallar" title="Jenny Allar's Github" class="zen-github">my github</a>-->
    <!--<a href="http://google.com" title="Link to Google" class="zen-license">the googs</a>-->
    <!--<a href="http://indeed.com" title="Find a job" class="zen-accessibility">find a job</a>-->
  <!--</footer>-->

<!--</div>-->

<!--<aside class="sidebar" role="complementary">-->
  <!--<div class="wrapper">-->

    <!--<div class="design-selection" id="design-selection">-->
      <!--<h3 class="select">Random Gif Here:</h3>-->
      <!--<nav role="navigation">-->
        <!--<ul>-->
          <!--<li>-->
            <!--<a href="/220/" class="design-name">Gif 1</a> Name 1-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/220/" class="design-name">Gif 2</a> Name 2-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/220/" class="design-name">Gif 3</a> Name 3-->
          <!--</li>-->
          <!--<li>-->
        <!--</ul>-->
      <!--</nav>-->
    <!--</div>-->

    <!--<div class="zen-resources" id="zen-resources">-->
      <!--<h3 class="resources">Resources:</h3>-->
      <!--<ul>-->
        <!--<li class="view-css">-->
          <!--<a href="/" title="Gif Site">-->
            <!--Fucking amazing Gif site</a>-->
        <!--</li>-->
        <!--<li class="css-resources">-->
          <!--<a href="http://en.wikipedia.org/wiki/Graphics_Interchange_Format" title="welcome wiki">-->
            <!--Gifs Wikipedia </a>-->
        <!--</li>-->
        <!--<li class="zen-faq">-->
          <!--<a href="http://anotherlink.slkjdg" title="Another link">-->
            <!--Another Link Here</a>-->
        <!--</li>-->
        <!--<li class="zen-submit">-->
          <!--<a href="http:/anotherlsjkdf.com" title="And Another Here">-->
            <!--And Another One </a>-->
        <!--</li>-->
        <!--<li class="zen-translations">-->
          <!--<a href="http://lastlinkljksdg.com" title="Last Linkypoo">-->
            <!--Last Link Here </a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</aside>-->


<!--</div>-->

<!--&lt;!&ndash;-->

	<!--These superfluous divs/spans were originally provided as catch-alls to add extra imagery.-->
	<!--These days we have full ::before and ::after support, favour using those instead.-->
	<!--These only remain for historical design compatibility. They might go away one day.-->

<!--&ndash;&gt;-->

<!--<div class="extra2" role="presentation"></div>-->
<!--<div class="extra3" role="presentation"></div>-->
<!--<div class="extra4" role="presentation"></div>-->
<!--<div class="extra5" role="presentation"></div>-->
<!--<div class="extra6" role="presentation"></div>-->
<!--&lt;!&ndash;<div class="extra1" role="presentation"></div>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->